@model WebApplication2.Models.User
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">User Information</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> @Model.Id</td>
            <td> @Model.Name</td>
            <td> @Model.Age</td>
        </tr>
    </tbody>
</table>

